numpy
pandas
matplotlib
seaborn
scikit-learn
plotly
jupyterlab
ipykernel
tqdm
typing_extensions
prophet
bertopic[all]
geopandas
folium
shapely
pyproj
fiona
rtree
statsmodels
streamlit
streamlit-folium
xgboost
